.button {
    background-color: rgba(255, 255, 255, 0.75);
}

.button {
    > button {
        padding: 0px;
        min-width: 100%;
        min-height: 100%;
        cursor: pointer;
        font-size: 2rem;
        border: 1px solid white;
        outline: none;
        background-color: rgba(255, 255, 255, 0.75);

        &:hover {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.span_two {
    grid-column: span 2;
}