.button {
    background-color: var(--primary);
}

.button {
    > button {
        padding: 0px;
        min-width: 100%;
        min-height: 100%;
        cursor: pointer;
        font-size: 2rem;
        border: 1px solid var(--secondary);
        outline: none;
        background-color: var(--primary);
        color: var(--secondary);

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

.span_two {
    grid-column: span 2;
}