.output {
    font-size: 2rem;
    grid-column: 1 / -1;
    background-color: rgba(100, 100, 100, 0.75);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid var(--secondary);

    div:nth-child(2) {
        font-size: 1.5rem;
        min-height: 2rem;
    }

    > div {
        margin-right: 20px;
    }
}

.error {
    -webkit-text-stroke: 0.3px var(--secondary);
    color: red;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 5px 0px !important;
    justify-content: center;
    text-align: center;
    word-wrap: normal;
    word-break: normal;
    min-width: 100%;
    padding: 0px 10px;
}