.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, clamp(75px, 10vw, 100px));
    grid-template-rows: minmax(clamp(75px, 10vw, 100px), auto) repeat(5, clamp(75px, 10vw, 100px));
}